body {
   
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url('/assets/brand/lechuza.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}